<form class="col-md-3 offset-md-4 mr-4 border mt-5">
  <h3 class="d-flex justify-content-center mt-3">Вход</h3>
  <div class="form-group">
    <label for="exampleInputEmail1">Логин</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           placeholder="Введите логин">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите пароль">
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-warning mb-2 ">Войти</button>
  </div>
</form>
