<div class="container shadow rounded">
  <div class="row mr-2">
    <div class="col-3 mt-3 ml-auto">
      <div class="row justify-content-end">
        <a class="btn btn-warning  shadow text-white rounded"
           routerLink="/propertyModule/edit">+ Добавить проперти</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-inline-block col-12 mt-3 " appDropdown #r="appDropdown">
      <a class="dropdown-toggle text-muted col-5 ml-2 "
         data-toggle="dropdown"
         style="cursor: pointer">Перечень товаров
        <span class="caret"></span></a>

      <ul class=" dropdown-menu border-0 col-11 mt-2  "
          [ngClass]="{'show':r.isOpen}"
          ng-click="event.stopPropagation()">
        <li class="">
          <app-detail *ngFor="let propertyEl of propertys; let i = index"
                      [property]="propertyEl"
                      [index]="i">
          </app-detail>
      </ul>
      <div class="d-inline-block col-3 offset-2 text-muted">
        <p class="type">Тип</p>
      </div>
      <div class="d-inline-block   col-3 offset-1 text-muted  ">
        <p class="control">Управление</p>
      </div>
    </div>
  </div>
</div>
