<div class="container shadow rounded">
<div class="row ">
  <div class="col-3 ml-auto">
    <div class="row justify-content-end">
      <a class="btn btn-warning shadow  text-white rounded"
         routerLink="/products/new">+ Добавить товар</a>
    </div>
  </div>
</div>
<div class="row ">
  <div class="info">
  <div class="d-inline-block " appDropdown #r="appDropdown">
    <a class="dropdown-toggle text-muted "
       data-toggle="dropdown"
       style="cursor: pointer"><b>Перечень товаров</b>
      <span class="caret"></span></a>
    <ul class=" dropdown-menu border-0 col-10  "
        [ngClass]="{'show':r.isOpen}"
        ng-click="event.stopPropagation()">
      <li >
        <app-product-item
          *ngFor="let productEl of products; let i=index"
          [product]="productEl"
          [index]="i">
        </app-product-item>
      </li>
    </ul>
    <div class="d-inline-block ">
      <p class="text-muted">Стоимость</p>
    </div>
    <div class="d-inline-block text-muted ">
      <p class="date">Дата изменения</p>
    </div>
    <div class="d-inline-block text-muted ">
      <p class="control">Управление</p>
    </div>
  </div>
</div>
</div>
</div>
