<div class="col-2 mt-3 ml-auto">
  <div class="row justify-content-end">
    <a class="btn btn-warning" routerLink="/products/new">+ Добавить товар</a>
  </div>
</div>

    <div class="d-inline-block " appDropdown #r="appDropdown">
      <a class="dropdown-toggle"
         data-toggle="dropdown"
         style="cursor: pointer">Перечень товаров
        <span class="caret"></span></a>

      <ul class=" dropdown-menu  col-10 mt-3 "
          [ngClass]="{'hide':r.isOpen}"
          ng-click="event.stopPropagation()"  >
        <li class="">
          <app-product-item
          *ngFor="let productEl of products; let i=index"
          [product]="productEl"
          [index]="i">
        </app-product-item></li>
      </ul>
    <div class="d-inline-block ">
      <p>Стоимость</p>
    </div>
    <div class="d-inline-block ">
      <p>Дата изменения</p>
    </div>
</div>
