<div class="row">
  <div class="float-left col-9 ">
    <a
      routerLinkActive="active"
      class="list-group-item clearfix">

      <div class="col-5 d-inline-block ">
        <h4 class="list-group-item list-group-item-action active">{{property.name}}</h4>
      </div>
      <div class="col-4 d-inline-block ">
        <p class="d-inline-block list-group-item list-group-item-action">{{property.type}}</p>
      </div>
    </a>
  </div>

  <div class="col-3 d-inline-block ml-auto ">
    <button class="btn btn-danger"
            type="button"
            (click)="onDelete()">Delete
    </button>
  </div>
</div>

