<a
  style="cursor: pointer;"
  class="list-group-item clearfix">
<div class="row">
  <div class="col-xs-12">
    <h1>{{product.name}}</h1>
  </div>
</div>

</a>

<!--
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Product <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;"
               (click)="onEditProduct()">Edit Product</a>
        </li>
        <li>
          <a style="cursor: pointer;">
            Delete Product</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ product.price }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let property of propertys">
        {{ property.name }} - {{ property.amount }}
      </li>
    </ul>
  </div>
</div>
-->
